.DS_Store
../.DS_Store
.idea/
__pycache__/

group_exercise1/homework3.py
group_exercise1/.idea/
group_exercise1/data/
group_exercise1/Fashion-MNIST/
group_exercise1/gt-comp/
group_exercise1/MNIST-full/
group_exercise1/my_code/
group_exercise1/.DS_Store
group_exercise1/__pycache__/

group_exercise2/KWS/
group_exercise2/KWS-test/
group_exercise2/main.py
group_exercise2/*.txt

group_exercise3/Molecules-test/