group_exercise1/homework3.py
group_exercise1/.idea/
group_exercise1/data/
group_exercise1/Fashion-MNIST/
group_exercise1/gt-comp/
group_exercise1/MNIST-full/
group_exercise1/my_code/
group_exercise1/.DS_Store
group_exercise1/__pycache__/
